<div fxLayoutAlign="center" ng-reflect-fx-layout-align="center"
                style="place-content: stretch center; align-items: stretch; flex-direction: row; box-sizing: border-box; display: flex;">

        <div class="table-container custom-slate" fxFlex="80" fxLayoutAlign="left">
            <div class="heading mat-elevation-z6">
                
                <div class="panel panel-primary">
                    <div class="panel-heading" id="accordion" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="column" fxLayoutAlign="space-between center" class="form-group">
                                <label for="username">Username</label>
                                <input type="text" [(ngModel)]="user" class="form-control" id="username"
                                    placeholder="Enter username">
                            </div>
                            <div fxLayout="column" fxLayoutAlign="space-between center" class="form-group">
                                <label for="roomInput">Room</label>
                                <select name="roomInput" id="roomInput" class="form-control" [(ngModel)]="room">
                                    <option value="Drink">Drink</option>
                                    <option value="Clothes">Clothes</option>
                                    <option value="Coupon">Coupon</option>
                                </select>
                            </div>
                        </div>
                        <div fxLayoutAlign="space-between center">
                            <button type="button" class="btn btn-primary" (click)="join()">Join</button>
                            <button type="button" class="btn btn-primary" (click)="leave()">Leave</button>

                            <!-- Only for employee there is a button for delete all messages in the chat with an socket.io event for guarantee privacy.-->

                            <a type="button" class="btn btn-primary btn-xs" data-toggle="collapse"
                                data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-collapse collapse" id="collapseOne">
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/FA6F57/fff&text=JS" alt="User Avatar"
                                            class="img-circle" />
                                    </span>

                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="pull-left primary-font">Juice Shop: &nbsp; </strong>
                                        </div>
                                        <p>
                                            Hi costumer, We want to offer the best service for you. You can ask anything
                                            in
                                            our
                                            real
                                            time support chat. We want guarantee our costumer's
                                            <strong>privacy</strong>.
                                            You
                                            can
                                            ask us
                                            to delete your message in this chat, and one of our employees will grant
                                            your
                                            wish.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix" *ngFor="let item of messageArray">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff&amp;text={{item.user}}"
                                            alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="pull-left primary-font">{{item.user}}: &nbsp; </strong>
                                        </div>
                                        <p>
                                            <span>{{item.message}}</span>
                                        </p>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm"
                                    placeholder="Type your message here..." [(ngModel)]="messageText" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-warning btn-sm" id="btn-chat"
                                        (click)="sendMessage()">
                                        Send</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>