.messaes-container{
    color: black;
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}
.chat strong{
     color: black;
}


.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}
.panel-primary{
    margin: 0;
    border: 0;
}
.panel-heading{
    height:  75px;
    background-color: #2F4F4F;
    border:0;
}
.panel-body{
    overflow-y: scroll;
    height: 250px;
    margin:0;
    border:0;
}
.panel-footer{
    background-color: #424242;
    margin:0;
    border:0;
}
.collapse{
    background-color: #303030;
}
button{
    background-color: #2F4F4F;
    border-color: black;
}

::-webkit-scrollbar-track
{
    --webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #424242;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #424242;
}

::-webkit-scrollbar-thumb
{
    --webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
